.table-chat{
    min-height: 35rem !important;
}
.roundedCircle{
    width: 70px; /* Set the desired width and height for your circle */
    height: 70px;
    border-radius: 50%; /* Make the div a circle by setting border-radius to 50% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply a shadow around the circle */
  
    /* Additional styles for centering content and background color */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.chat-CLass{ 
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    .question-title {
      font-size: 16px;
    }
    .question-text {
        font-size: 12px;
    }
    .chat-CLass{
        margin-top: 90px;
    }
    .question-user{
        font-size: 13px;
    }
    .ans-user{
        font-size: 12px;
    }
  }
  @media (min-width: 601px) and (max-width: 1024px) {
    .question-title {
      font-size: 24px;
    }
    .question-text {
        font-size: 16px;
    }
    .chat-CLass{
        margin-top: 90px;
    }
    .question-user{
        font-size: 13px;
    }
  }
  @media (min-width: 1025px) {
    .question-title {
      font-size: 32px;
    }
    .question-text {
        font-size: 20px;
    }
    .chat-CLass{
        margin-top: 60px;
    }
    .question-user{
        font-size: 17px;
    }
    .ans-user{
        font-size: 14px;
    }
  }
