.cat {
    margin-bottom: 23rem !important;
}

.sss {
    margin-top: 200px !important;
    margin-top: 200px !important;
}

.box {
    width: 100% !important;
}
.borderColor{
    border-color: #374151 !important;
}
.productShadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
.form-check-label {
    cursor: pointer !important;
}

.form-check-label:hover {
    color: #198754 !important;
} */

.product {
    width: 100% !important;
    background-color: #fff;
}

.infinite-scroll-component {
    overflow:hidden !important;
}

.view-more-btn {
    border: 1px solid #008080;
    padding: 7px 30px;
    color: #008080;
    border-radius: 5px;
}

.view-more-btn:hover {
    color: white;
    border: 1px solid #008e8e;
    background-color: #008e8e
}

@media screen and (max-width: 1415px) {
    .images-class {
        width: 97% !important;
    }
}
@media screen and (max-width: 1400px) {
    .images-class {
        width: 97% !important;
    }
}

@media screen and (max-width: 992px) {
    .images-class {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
}

/* @media screen and (max-width: 321px) {
    .about h6{
        font-size: 12px;
    }
    .about span {
        color: #4a1af8;
        font-size: 12px
    }
} */
