
.login{
    margin-top: 140px!important;
    margin-bottom: 100px !important;
    /* height: 900px; */
    min-height: 45vh;
}

.my-facebook-button-class{
    background-color: #4267B2; /* Facebook blue */
    color: #fff; /* White text color */
    padding: 11px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.my-facebook-button-class{
    cursor: pointer;
}

.login-btn-color {
    color: white;
    background-color: #008080;
    border-radius: 5px;
    border: 1px solid #008080;
    padding: 7px 0;
}

.login-btn-color:hover {
    background-color: #007171;
}

.register-btn-color {
    color: white;
    background-color: #008080;
    border-radius: 5px;
    border: 1px solid #008080;
    padding: 7px 100px;
}

.register-btn-color:hover {
    background-color: #007171;
    color: white;
}